.about-tattoo {
   min-height: auto;
   background-color: #000;
   &__inner {
      @include adaptiv-value("padding-top", 150, 60, 1);
      @include adaptiv-value("padding-bottom", 100, 35, 1);
   }
   &__btn-link {
      text-align: center;
      margin-top: 50px;
   }
}
