.acquaintance-tattoo {
   min-height: 474px;
   width: 100%;
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   position: relative;
   &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 0;
   }
   &__inner {
      display: flex;
      @include adaptiv-value("padding-top", 65, 45, 1);
      @include adaptiv-value("padding-bottom", 65, 45, 1);
      justify-content: center;
      position: relative;
      z-index: 5;
   }
   .sketch__text {
      text-align: left;
      font-size: 20px;
      line-height: 30px;
      text-transform: uppercase;
      text-shadow: 2px 3px 5px #000;
      margin: 0;
      @include adaptiv-value("margin-bottom", 35, 20, 1);
   }
   .sketch__desc {
      text-shadow: 2px 3px 5px #000;
      text-align: left;
      margin: 0;
      @include adaptiv-value("margin-bottom", 45, 35, 1);
   }
   .form {
      margin: 0;
   }
}

.permanent-makeup {
   text-align: center;
   margin-top: 0;
}

@media (max-width: 576px) {
   .acquaintance-tattoo .form__input {
      width: 100%;
      margin-right: 0;
      margin-bottom: 15px;
   }
}
