.information-tattoo {
   min-height: auto;
   background-color: #000;
   &__inner {
      @include adaptiv-value("padding-top", 100, 50, 1);
      @include adaptiv-value("padding-bottom", 100, 50, 1);
      position: relative;
      z-index: 20;
   }
}
