.video-tattoo {
  width: 100%;
  min-height: 680px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  &__inner {
    padding-top: 125px;
  }
  &__text {
    max-width: 1167px;
    padding: 0 5px;
    font-size: 45px;
    line-height: 55px;
    text-align: center;
    margin-bottom: 50px;
  }
  &__span {
    @extend%raleway-900;
  }
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__img {
    width: 121px;
    height: 121px;
    margin: 0 30px;
  }
  &__desc {
    @extend%raleway-300;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: 992px) {
  .video-tattoo {
    min-height: 570px;
  }
  .video-tattoo__text {
    font-size: 37px;
    line-height: 49px;
    margin-bottom: 35px;
  }
}

@media (max-width: 768px) {
  .video-tattoo {
    min-height: 492px;
  }
  .video-tattoo__text {
    font-size: 29px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  .video-tattoo__desc {
    display: none;
  }
}

@media (max-width: 640px) {
  .video-tattoo__img {
    width: 90px;
    height: 90px;
    margin: 0;
  }
}

@media (max-width: 480px) {
  .video-tattoo {
    min-height: 415px;
  }
  .video-tattoo__inner {
    padding-top: 60px;
  }
  .video-tattoo__text {
    font-size: 23px;
    line-height: 35px;
  }
}
