.video-tattoo {
  width: 100%;
  min-height: 680px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  &__inner {
    padding-top: 125px;
  }
  &__text {
    max-width: 1167px;
    padding: 0 5px;
    font-size: 45px;
    line-height: 55px;
    text-shadow: 2px 3px 5px #000;
    text-align: center;
    margin-bottom: 50px;
  }
  &__span {
    @extend%raleway-900;
  }
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__img {
    width: 121px;
    height: 121px;
    margin: 0 30px;
    border-radius: 50%;
    animation: pulse 2s linear infinite;
    @keyframes pulse {
      0% {
        box-shadow: 0 0 0 0 rgba(14, 114, 207, 0.8),
          0 0 0 0 rgba(16, 95, 214, 0.5);
      }
      40% {
        box-shadow: 0 0 0 70px rgba(2, 6, 59, 0), 0 0 0 30px rgba(2, 2, 49, 0);
      }
      80% {
        box-shadow: 0 0 0 70px rgba(2, 1, 24, 0), 0 0 0 30px rgba(10, 1, 122, 0);
      }
      100% {
        box-shadow: 0 0 0 0 rgba(6, 2, 44, 0), 0 0 0 40px rgba(3, 1, 22, 0);
      }
    }
  }
  &__desc {
    @extend%raleway-300;
    text-shadow: 2px 3px 5px #000;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: 992px) {
  .video-tattoo {
    min-height: 570px;
    &__text {
      font-size: 37px;
      line-height: 49px;
      margin-bottom: 35px;
    }
  }
}

@media (max-width: 768px) {
  .video-tattoo {
    min-height: 492px;
    &__text {
      font-size: 29px;
      line-height: 32px;
      margin-bottom: 25px;
    }
    &__desc {
      display: none;
    }
  }
}

@media (max-width: 640px) {
  .video-tattoo {
    &__inner {
      padding-top: 85px;
    }
    &__img {
      width: 90px;
      height: 90px;
      margin: 0;
    }
  }
}

@media (max-width: 480px) {
  .video-tattoo {
    min-height: 356px;
    &__inner {
      padding-top: 25px;
    }
    &__text {
      font-size: 23px;
      line-height: 28px;
    }
  }
}
