.price-makeup {
   @include adaptiv-value("padding-top", 120, 70, 1);
   @include adaptiv-value("padding-bottom", 60, 45, 1);
   background-color: #2d2d2d;
   &__heading {
      // padding-top: 30px;
      @extend%raleway-700;
      @include adaptiv-value("font-size", 20, 18, 1);
      line-height: 26/20 * 100%;
      color: #4ec9f8;
      @include adaptiv-value("margin-bottom", 45, 30, 1);
   }
   &__heading-drop {
      pointer-events: none;
   }
   &__inner {
      display: flex;
      flex-wrap: wrap;
      gap: 25px;
   }
   &__item {
      width: 245px;
      height: 100%;
      text-align: center;
      @include adaptiv-value("margin-bottom", 100, 40, 1);
      &:not(:last-child) {
         margin-right: 30px;
      }
   }
   &__img {
      @include adaptiv-value("width", 152, 85, 1);
      @include adaptiv-value("height", 152, 85, 1);
      object-fit: cover;
      border: 3px solid #4ec9f8;
      border-radius: 50%;
      margin: 0 auto 20px;
   }
   &__desc {
      @extend%raleway-500;
      font-size: 17px;
      line-height: 27px;
      color: $default;
      margin-bottom: 5px;
   }
   &__price {
      @extend%raleway-900;
      font-size: 25px;
      line-height: 27px;
      color: $default;
   }
   &__dash {
      font-size: 18px;
      line-height: 28px;
   }
}

@media (max-width: 1200px) {
   .price-makeup {
      &__inner {
         justify-content: space-around;
      }
      &__item {
         &:not(:last-child) {
            margin-right: 0;
         }
      }
      &__heading {
         text-align: center;
      }
   }
}

@media (max-width: 768px) {
   .price-makeup {
      .price-makeup__item {
         width: 100%;
      }
      &__heading-drop {
         padding: 15px 30px;
         pointer-events: auto;
         position: relative;
         &::after {
            content: "";
            background-image: url("../images/permanent_makeup/angle_bottom .svg");
            background-repeat: no-repeat;
            width: 12px;
            height: 8px;
            position: absolute;
            right: 9px;
            top: 20px;
            transition: transform 0.1s;
         }
      }
      &__box-hidden {
         display: none;
      }
   }
   .price-makeup__heading-drop--active::after {
      transform: rotate(180deg);
   }
}
