.dots {
  position: relative;
  &__box {
    position: absolute;
  }
  &__click {
    cursor: pointer;
  }
  &__content {
    display: none;
    position: absolute;
    top: 0;
    left: -150px;
    z-index: 5;
  }
}

.dots__click.active + .dots__content {
  display: block;
}

.dots-button {
  display: block;
  background-color: transparent;
  border: none;
  outline: transparent;
  cursor: pointer;
  margin-left: 67px;
  border: 2px solid transparent;
  transition: border 0.4s;
  &__svg {
    width: 20px;
    height: 20px;
    color: #fff;
    opacity: 0.76;
  }
  &:focus {
    border: 2px solid #fff;
  }
  &:hover {
    border: 2px solid $bg;
  }
  &:active {
    border: 2px solid $accent;
  }
}

.dots-menu {
  width: 220px;
  height: auto;
  padding: 10px 15px;
  background: $bg;
  text-align: left;
  &__list {
    transition: background 0.3s;
    &:hover {
      background-color: #363a44;
    }
  }
  &__link {
    display: inline-block;
    padding: 10px;
    font-size: 15px;
    line-height: 23px;
    text-transform: uppercase;
    color: #fff;
  }
  &__checked-svg {
    width: 17px;
    height: 13px;
    color: #fff;
  }
}

@media (max-width: 360px) {
  .dots-button {
    margin-left: 130px;
  }
  .dots__content {
    left: -95px;
  }
}
