.form {
   max-width: 555px;
   margin: 0 auto;
   &__label {
      font-size: 0;
      line-height: 0;
   }
   &__input {
      display: inline-block;
      padding: 16px 23px;
      @extend%raleway-400;
      font-size: 16px;
      line-height: 25px;
      color: #fff;
      width: 263px;
      height: 47px;
      background-color: transparent;
      border: none;
      border: 1px solid #fff;
      border-radius: 23.5px;
      margin-right: 10px;
      margin-bottom: 30px;
      &:focus {
         outline: none;
         border: 2px solid #4ec9f8;
      }
   }
   &__button {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
   }
   &__safety {
      display: block;
      max-width: 245px;
      font-size: 15px;
      line-height: 25px;
      padding-left: 25px;
      color: #fff;
      position: relative;
      margin: 0 auto;
      &::before {
         content: "";
         background-image: url("../images/header/checked.svg");
         background-repeat: no-repeat;
         width: 17px;
         height: 13px;
         position: absolute;
         bottom: 8px;
         left: 0;
      }
   }
}
