.header {
   background-color: #000;
   &-top {
      padding: 30px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      z-index: 20;
      &__tel {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         @extend%raleway-500;
         font-size: 25px;
         line-height: 41px;
         color: #918f8f;
         padding-left: 40px;
         position: relative;
         &::before {
            content: "";
            background-image: url("../images/header/phone.svg");
            background-repeat: no-repeat;
            width: 33px;
            height: 33px;
            position: absolute;
            top: 5px;
            left: 0;
         }
      }
      &__number {
         @extend%raleway-700;
         @include adaptiv-value("font-size", 37, 25, 1);
         line-height: 45/37 * 100%;
         color: #fff;
         transition: opacity 0.4s;
         &:hover {
            opacity: 0.56;
         }
      }
   }
   &-bottom {
      background-color: #2d2d2d;
      &__burger {
         display: none;
      }
   }
}

.menu {
   &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
   }
   &__item {
      padding: 15px 30px;
      border-left: 1px solid #383838;
      border-bottom: 3px solid transparent;
      transition: border 0.3s;
      &:last-child {
         border-right: 1px solid #383838;
      }
      &:hover {
         border-bottom: 3px solid $accent;
      }
      span {
         display: inline-block;
         padding: 10px 10px;
         font-size: 17px;
         line-height: 29px;
         color: #fff;
         opacity: 0.56;
      }
      &--active {
         border-bottom: 3px solid $accent;
      }
   }
   &__link {
      display: inline-block;
      padding: 10px 10px;
      font-size: 17px;
      line-height: 29px;
      color: #fff;
      transition: opacity 0.6s;
      &:hover {
         opacity: 0.56;
      }
      &:focus {
         color: #cec6c6;
      }
      &:active {
         color: $accent;
      }
   }
}

@media (max-width: 860px) {
   body.lock {
      overflow: hidden;
   }
   .header {
      .container {
         padding: 0;
      }
      &-top {
         position: fixed;
         top: 0;
         padding: 10px 0;
         background-color: #2d2d2d;
         width: 100%;
         z-index: 50;
         &__tel {
            padding-left: 0;
            padding-right: 15px;
            margin-left: auto;
            &::before {
               display: none;
            }
         }
      }
      &-bottom {
         &__burger {
            display: block;
            position: fixed;
            top: 30px;
            left: 20px;
            z-index: 50;
            width: 35px;
            height: 20px;
            &::before,
            &::after {
               content: "";
               background-color: #fff;
               position: absolute;
               width: 100%;
               height: 2px;
               left: 0;
               transition: all 0.3s ease 0s;
            }
            &::before {
               top: 0;
            }
            &::after {
               bottom: 0;
            }
            span {
               background-color: #fff;
               position: absolute;
               width: 100%;
               height: 2px;
               left: 0;
               top: 9px;
               transition: all 0.3s ease 0s;
            }
         }
      }
      .header-bottom__burger.active::before {
         transform: rotate(45deg);
         top: 9px;
      }
      .header-bottom__burger.active::after {
         transform: rotate(-45deg);
         bottom: 9px;
      }
      .header-bottom__burger.active span {
         transform: scale(0);
      }
   }
   .menu {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #103f8e;
      padding: 90px 0 150px;
      overflow: auto;
      transition: all 0.8s ease 0s;
      z-index: 25;
      &.active {
         top: 40px;
      }
      &__list {
         flex-direction: column;
         justify-content: center;
         align-items: center;
         background-color: transparent;
      }
      &__item {
         padding: 0;
         border-left: none;
         & + & {
            margin-left: 0;
            margin-top: 18px;
         }
         &:last-child {
            border-right: none;
         }
         span {
            font-size: 20px;
            line-height: 32px;
         }
      }
      &__link {
         font-size: 20px;
         line-height: 32px;
      }
   }
}
