.header-top {
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 50%;
  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0;
  }
  &__inner {
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    z-index: 20;
  }
  &__info {
    max-width: 425px;
    height: auto;
    padding-left: 132px;
    margin-top: -45px;
  }
  &__title {
    font-size: 24px;
    line-height: 30px;
  }
  &__text {
    font-size: 19px;
    line-height: 28px;
    color: #918f8f;
    opacity: 0.63;
  }
  &__tel {
    @extend%raleway-500;
    font-size: 25px;
    line-height: 41px;
    color: #918f8f;
    padding-left: 40px;
    margin-bottom: 10px;
    position: relative;
    &::before {
      content: "";
      background-image: url("../images/header/phone.svg");
      background-repeat: no-repeat;
      width: 33px;
      height: 33px;
      position: absolute;
      top: 5px;
      left: 0;
    }
    span {
      @extend%raleway-700;
      font-size: 37px;
      line-height: 45px;
      color: #fff;
      transition: color 0.6s;
      &:focus {
        color: #cec6c6;
      }
      &:hover {
        color: $accent;
      }
      &:active {
        color: $accent;
      }
    }
  }
}

.Logo {
  outline: none;
  cursor: default;
}

.box-hidden {
  &__tel {
    display: none;
  }
  &__tel-svg {
    width: 58px;
    height: 58px;
    fill: #1f50a3;
  }
}

.menu-btn {
  display: none;
  &__svg {
    width: 58px;
    height: 56px;
    fill: #1f50a3;
  }
}

.header-bottom {
  background-color: #2d2d2d;
}

.menu {
  &__list {
    display: flex;
    justify-content: center;
  }
  &__item {
    padding: 30px 30px;
    border-left: 1px solid #383838;
    border-bottom: 3px solid transparent;
    transition: border 0.3s;
    &:last-child {
      border-right: 1px solid #383838;
    }
    &:hover {
      border-bottom: 3px solid $accent;
    }
    &--active {
      border-bottom: 3px solid $accent;
    }
  }
  &__link {
    font-size: 17px;
    line-height: 29px;
    color: #fff;
    transition: opacity 0.6s;
    &:hover {
      opacity: 0.56;
    }
    &:focus {
      color: #cec6c6;
    }
    &:active {
      color: $accent;
    }
    &--active {
      opacity: 0.56;
    }
  }
}

@media (max-width: 992px) {
  .header-top {
    &__inner {
      align-items: center;
    }
    &__box-tel {
      display: none;
    }
  }

  .box-hidden {
    display: flex;
    z-index: 100;
    &__tel {
      display: block;
      padding-right: 20px;
      z-index: 100;
      transition: color 0.6s;
      &:focus {
        color: #cec6c6;
      }
      &:hover {
        color: $accent;
      }
      &:active {
        color: $accent;
      }
    }
  }

  .menu-btn {
    display: block;
    background-color: transparent;
    transition: color 0.6s;
    &:focus {
      color: #cec6c6;
    }
    &:hover {
      color: $accent;
    }
    &:active {
      color: $accent;
    }
  }

  .menu {
    &__list {
      display: block;
      width: 100%;
      min-height: 100%;
      background-color: #2f2f2f;
      position: absolute;
      left: 0;
      right: 0;
      z-index: 50;
      transform: translateX(-250%);
      transition: all 0.6s;
      &--active {
        transform: translateX(0);
        transition: all 0.6s;
      }
    }
    &__item {
      width: 100%;
      padding: 0;
      margin: 20px 0;
      text-align: center;
      border-left: 0;
      border-bottom: none;
      &:hover {
        border-bottom: none;
      }
      &:last-child {
        border-right: 0;
      }
    }
    &__link {
      display: block;
      padding: 10px 0;
      font-size: 22px;
      line-height: 32px;
      transition: color 0.4s;
      &:hover {
        opacity: 1;
        color: #000;
      }
    }
  }
}

@media (max-width: 640px) {
  .header-top {
    &__inner {
      display: block;
      padding: 15px 0;
    }
    &__info {
      margin-bottom: 20px;
    }
  }

  .box-hidden {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .header-top {
    background-size: 90%;
    &__info {
      display: none;
    }
  }

  .box-hidden__tel-svg {
    width: 48px;
    height: 48px;
  }
  .menu-btn__svg {
    width: 48px;
    height: 46px;
  }
}
