.informative-card {
   background-repeat: no-repeat;
   background-position: right;
   background-size: 50%;
   @include adaptiv-value("padding-top", 50, 25, 1);
   @include adaptiv-value("padding-bottom", 50, 25, 1);
   margin-bottom: 75px;
   position: relative;
   &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 0;
   }
   &:nth-child(even) {
      background-position: left;
   }
   &__box {
      max-width: 670px;
      min-height: 310px;
      padding: 35px 70px 55px 60px;
      background-color: #2d2d2d;
      border-right: 3px solid $bg;
      border-radius: 8px;
      position: relative;
      z-index: 5;
   }
   &__subject {
      @extend%raleway-800;
      @include adaptiv-value("font-size", 20, 18, 1);
      line-height: 26/20 * 100%;
      color: $default;
      @include adaptiv-value("padding-bottom", 20, 10, 1);
      border-bottom: 1px solid #505050;
      @include adaptiv-value("margin-bottom", 25, 15, 1);
   }
   &__text {
      font-size: 17px;
      line-height: 27px;
      opacity: 0.63;
      @include adaptiv-value("margin-bottom", 20, 15, 1);
      &:last-child {
         margin-bottom: 0;
      }
   }
}
.informative-card:nth-child(even) .informative-card__box {
   margin-left: auto;
}

@media (max-width: 992px) {
   .informative-card {
      background-position: top;
      background-size: 0;
      margin-bottom: 0;
      &:nth-child(even) {
         background-position: top;
      }
      &__box {
         margin: 0 auto;
      }
   }
}

@media (max-width: 860px) {
   .informative-card {
      .animate__animated.animate__fadeInLeft {
         transition-property: none !important;
         transform: none !important;
         animation: none !important;
      }
   }
}

@media (max-width: 576px) {
   .informative-card {
      &__box {
         padding: 15px;
      }
   }
}
