.informative-card {
  background-repeat: no-repeat;
  background-position: right;
  padding: 50px 0;
  margin-bottom: 75px;
  &:nth-child(even) {
    background-position: left;
  }
  &__box {
    max-width: 670px;
    min-height: 310px;
    padding: 35px 70px 55px 60px;
    background-color: #2d2d2d;
    border-right: 3px solid $bg;
    border-radius: 8px;
  }
  &__subject {
    @extend%raleway-800;
    font-size: 20px;
    line-height: 26px;
    color: $default;
    padding-bottom: 20px;
    border-bottom: 1px solid #505050;
    margin-bottom: 25px;
    &--hit {
      color: #4ec9f8;
    }
  }
  &__text {
    font-size: 17px;
    line-height: 27px;
    opacity: 0.63;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
    &--hit {
      padding-left: 25px;
      position: relative;
      &::before {
        content: "";
        width: 10px;
        height: 10px;
        background-color: #4ec9f8;
        border-radius: 50%;
        position: absolute;
        top: 8px;
        left: 0;
      }
    }
  }
}
.informative-card:nth-child(even) .informative-card__box {
  margin-left: auto;
}

@media (max-width: 992px) {
  .informative-card {
    background-position: top;
    padding: 300px 0 50px;
    margin-bottom: 15px;
  }
  .informative-card:nth-child(even) {
    background-position: top;
  }
  .informative-card__box {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .informative-card__box {
    max-width: 620px;
    padding: 30px 20px 55px 20px;
  }
  .informative-card {
    padding: 245px 0 50px;
    margin-bottom: 0;
  }
  .animate__animated.animate__fadeInLeft {
    transition-property: none !important;
    transform: none !important;
    animation: none !important;
  }
}

@media (max-width: 620px) {
  .informative-card--hit {
    background-size: contain;
  }
}

@media (max-width: 480px) {
  .informative-card__box {
    padding: 35px 10px 35px 10px;
  }
  .informative-card__subject {
    font-size: 18px;
    line-height: 26px;
  }
}

@media (max-width: 360px) {
  .informative-card__box {
    padding: 15px 10px 15px 10px;
  }
  .informative-card__subject {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
}
