.info-subject {
   display: flex;
   align-items: center;
   @include adaptiv-value("margin-bottom", 55, 40, 1);
   &__title {
      padding-right: 70px;
   }
}

@media (max-width: 768px) {
   .info-subject {
      display: block;
   }
   .info-subject__title {
      padding-right: 0;
      margin-bottom: 20px;
   }
}
