.photo-tattoo {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(2, 1fr);
   width: 100%;
   grid-gap: 20px;
   &__item {
      background-image: url("../images/example-work/img_1.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      @include adaptiv-value("min-height", 228, 160, 1);
      &:nth-child(2) {
         grid-row: span 2;
      }
      &:nth-child(3) {
         grid-column: span 2;
         display: flex;
         flex-direction: column;
         justify-content: center;
      }
   }
}

@media (max-width: 768px) {
   .photo-tattoo {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      grid-gap: 10px;
   }
   .photo-tattoo__item:nth-child(2) {
      grid-row: auto;
   }
   .photo-tattoo__item:nth-child(3) {
      grid-column: auto;
   }
}

@media (max-width: 576px) {
   .photo-tattoo {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 5px;
   }
}
