.scroller {
  position: fixed;
  bottom: 30px;
  left: 20px;
  cursor: pointer;
  z-index: 1000;
  display: none;
  &__arrow {
    width: 55px;
    height: 55px;
    color: $default;
    stroke: #e91111;
  }
}

@media (max-width: 768px) {
  .scroller {
    &__arrow {
      display: none;
    }
  }
}
