.slider-tattoo {
   @include adaptiv-value("padding-top", 120, 50, 1);
   @include adaptiv-value("padding-bottom", 160, 70, 1);
   &__wrapper {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      @include adaptiv-value("height", 650, 305, 1);
   }
   &__inner {
      @include adaptiv-value("height", 650, 305, 1);
      background: rgba(#1c2121, 0.85);
      transition: background 0.5s;
      position: relative;
      &:hover {
         background-color: rgba(#1c2121, 0.3);
      }
   }
   &__title {
      @extend%raleway-800;
      @include adaptiv-value("font-size", 35, 25, 1);
      line-height: 45/35 * 100%;
      padding: 50px 0 0 40px;
      max-width: 360px;
      text-align: center;
   }
   &__location {
      @extend%proximanova-400;
      font-size: 18px;
      line-height: 22px;
      @include adaptiv-value("letter-spacing", 8, 5, 1);
      transform: rotate(-90deg);
      position: absolute;
      @include adaptiv-value("left", 40, 10, 1);
      @include adaptiv-value("bottom", 75, 5, 1);
      width: 0;
      height: 0;
      white-space: nowrap;
   }
   .slick-slide:nth-child(4n + 1) {
      .slider-tattoo__box {
         margin-top: 32px;
      }
   }
   .slick-slide:nth-child(4n + 3) {
      .slider-tattoo__box {
         margin-top: 89px;
      }
   }

   .slick-current {
      .slider-tattoo__inner {
         background: rgba(#1c2121, 0.3);
      }
   }

   .slick-arrow {
      position: absolute;
      top: 5%;
      transform: translateX(-50%);
      z-index: 10;
      path {
         fill: #fff;
      }
   }

   .slick-next {
      right: 40px;
      width: 40px;
      height: 29px;
   }
   .slick-prev {
      right: 105px;
      width: 40px;
      height: 29px;
   }

   .slick-disabled {
      path {
         fill: #1f50a3;
      }
   }

   .slick-dots {
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 40px;
      left: 0;
      right: 0;
      text-align: center;
   }
   .slick-dots li {
      display: inline-block;
      padding: 0 5px;
   }
   .slick-dots button {
      padding: 0;
      font-size: 0;
      margin: 0;
      width: 13px;
      height: 13px;
      border: 1px solid #fff;
      border-radius: 50%;
      background-color: transparent;
   }
   .slick-dots .slick-active button {
      background-color: #fff;
   }
   .slick-active li button {
      background-color: #fff;
   }
}

@media (max-width: 768px) {
   .slick-arrow {
      top: 4%;
   }
   .animate__animated.animate__fadeInUpBig {
      transition-property: none !important;
      transform: none !important;
      animation: none !important;
   }
}
