.text {
   max-width: 425px;
   min-height: auto;
   padding: 0 5px 0 20px;
   @extend%raleway-500;
   @include adaptiv-value("font-size", 18, 17, 1);
   line-height: 25/18 * 100%;
   border-left: 3px solid #1f50a3;
}

@media (max-width: 768px) {
   .text {
      max-width: 100%;
   }
}
