.slogan-title {
   max-width: 1167px;
   padding: 0 5px;
   @include adaptiv-value("font-size", 45, 28, 1);
   line-height: 55/45 * 100%;
   text-align: center;
   text-shadow: 2px 3px 5px #000;
   @include adaptiv-value("margin-bottom", 50, 45, 1);
   &__span {
      display: inline-block;
      @extend%raleway-900;
   }
}
