.shop-popup {
  &__container {
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  &__inner {
    padding-bottom: 50px;
    display: flex;
  }
  &__box-img {
    display: flex;
  }
  &__img-big {
    width: 371px;
    height: 338px;
    object-fit: cover;
  }
  &__img-tiny {
    width: 186px;
    height: 165px;
    object-fit: cover;
  }
  &__box-text {
    max-width: 656px;
    min-height: auto;
    padding: 45px 70px 22px 65px;
  }
  &__subject {
    @extend%raleway-900;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: $default;
    margin-bottom: 20px;
  }
  &__text {
    @extend%raleway-400;
    font-size: 15px;
    line-height: 21px;
    color: $default;
    margin-bottom: 10px;
  }
  &__price {
    @extend%raleway-900;
    font-size: 15px;
    line-height: 28px;
    text-transform: uppercase;
    color: $default;
  }
  &__number {
    font-size: 25px;
    line-height: 30px;
    color: $accent;
  }
  &__number-span {
    font-size: 25px;
    text-transform: none;
    color: $accent;
  }
  &__desc {
    padding: 0 80px 0 65px;
    font-size: 19px;
    line-height: 30px;
    color: $default;
  }
  &__desc-span {
    display: block;
    @extend%raleway-900;
    color: $default;
  }
}
.pop {
  padding: 0;
  max-width: 1035px;
}

@media (max-width: 1200px) {
  .shop-popup__images {
    display: none;
  }
  .shop-popup__container {
    max-width: 770px;
  }
}
